@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	overflow-y: hidden;

	@apply bg-gray-950;
}

a {
	color: inherit;
	text-decoration: none;
}

:root{
  --primary-color:#e30b13;
}

input[type='file'],
input[type='file']::-webkit-file-upload-button{
  @apply cursor-pointer focus:outline-none;
}

input:focus{
  box-shadow: none !important;
}
