.custom-select {
	&__control {
		background-color: transparent !important;
		border: none !important;
		border-radius: 0 !important;
		border-bottom: 1px solid #66676e !important;
		box-shadow: none !important;

		&--menu-is-open {
			border-color: var(--primary-color) !important;
		}
	}

	&__value-container {
		padding: 0 !important;
		cursor: text !important;
	}

	&__input-container {
		color: #999aa5 !important;
	}

	&__indicator-separator {
		display: none !important;
	}

	&__indicator {
		cursor: pointer !important;

		&:hover {
			color: #999aa5 !important;
		}
	}

	&__multi-value {
		background-color: rgba($color: #999aa5, $alpha: 0.6) !important;
		border-radius: 0.5rem !important;
	}

	&__multi-value__label {
		font-size: 80% !important;
		color: rgba($color: white, $alpha: 0.7) !important;
	}

	&__multi-value__remove {
		color: rgba($color: white, $alpha: 0.8) !important;

		&:hover {
			background-color: transparent !important;
			color: rgba($color: white, $alpha: 1) !important;
		}
	}

	&__menu {
		background-color: #292a2e !important;
		color: rgba($color: white, $alpha: 0.6) !important;
	}

	&__option {
		cursor: pointer !important;

		&--is-focused {
			background-color: lighten(#292a2e, 8%) !important;
		}
	}
}
